@page "/"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject AllowGuestHttpClient Http

<div class="jumbotron">
    <h1>コンピュータの目</h1>
    <p class="lead">その画像はコンピュータの目にはどのように映っているのでしょうか？　公平な目線で判断してくれます。</p>
    <p class="lead">
        <NavLink href="/upload" class="btn btn-primary">判断を仰ぎに行く</NavLink>
    </p>
</div>

<h2>最近の判断結果</h2>
@if (docs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="d-flex flex-wrap">
        @foreach (var doc in docs)
        {
            <NavLink href="@($"/results/{doc.Id}")" style="margin: 4px;">
                <img src="@doc.Image.Uri" class="img-thumbnail" style="min-width: 120px; max-width: 120px;">
            </NavLink>
        }
    </div>
    if (next < DateTimeOffset.MaxValue)
    {
        <p>
            <NavLink href="@($"/results?offset={next.UtcTicks}")" class="btn btn-link">More</NavLink>
        </p>
    }
}
<div>@message</div>


@code {
    private IResultDocument[] docs;
    private string message;
    private DateTimeOffset next = DateTimeOffset.MinValue;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            docs = await Http.GetFromJsonAsync<PlainResultDocument[]>("ResultDocument");
            if (docs.Length > 0)
            {
                next = docs.Max(x => x.CreatedAt);
            }
            else
            {
                next = DateTimeOffset.MaxValue;
            }
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}